<div class="container-fluid">
    <div class="jumbotron">
        <p class="h2">
            Lista de Contatos
        </p>
        <p>
            Criada como minha primeira aplicação Ruby on Rails, feita seguindo o curso do Jackson
            na Udemy.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item"><%= link_to "Tipos", kinds_path %></li>
            <li class="list-group-item"><%= link_to "Contatos", contacts_path %></li>
            <li class="list-group-item"><%= link_to "Phones", phones_path %></li>
            <li class="list-group-item"><%= link_to "Adresses", addresses_path %></li>
        </ul>
    </div>
</div>